{
    "extends": [
        "prettier",
        "prettier/react"
    ],
    "prettier/prettier": [
        "error",
        {
            "singleQuote": true
        }
    ],

    "plugins": [
        "prettier"
    ]
}