body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.driver {
  margin-top: 15px;
  color: white;
  text-align: center;
}

#map {
  height: 75%;
  width: 100%;
  margin: auto;
  border-radius: 25px;
}

table,
th,
td {
  border: 1px solid black;
  color: white;
  text-align: center;
  margin: auto;
}

#reloadBtn,
#numPickedUpBtn {
  background-color: #9dbdf2;
  border-color: #667fa5;
  border-radius: 25px;
  text-align: center;
  margin: 10px;
  color: white;
}

#reloadBtn:hover,
#numPickedUpBtn:hover,
  {
  cursor: pointer;
  opacity: 0.8;
  color: white;
}

#txtInputBox {
  background-color: #a8b3c4;
  border: #a8b3c4;
  width: 200px;
  margin-top: 25px;
  text-align: center;
  border-radius: 25px;
}

.moreStuff {
  text-align: center;
  color: white;
}

html,
body {
  height: 100%;
  background-color: #102951;
}

.userInput {
  display: inherit;
  text-align: center;
  margin-bottom: 25px;
}

#numInParty,
#partyName {
  border-radius: 15px;
  opacity: 0.8;
  text-align: center;
  margin: auto;
  display: flex;
}

#numPickedUpBtn,
#partyName {
  display: flex;
  margin: auto;
  margin-top: 15px;
}

.reservation {
  margin-top: 50px;
  color: lightblue;
  text-align: center;
}

#cancelButton {
  display: flex;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 55px;
}

#cancelButton:hover {
  cursor: pointer;
  opacity: 0.7;
}